/* Google poppins font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.copa-america{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@keyframes change{
    from{
        background-color: #2D25A0 ;
    }
    to{
        background-color: #e9e9ec ;
    }
}

.backgroundcolor{
    background-color: 
    #2D25A0 ;
    
    height: 677px;
    animation: change 2.5s ease-in-out .5s infinite alternate ;
    animation-play-state: running;
    
    
}
.sec1display{
    padding-left: 500px ;
    padding-top: 100px;
}
.todown{
    padding-top: 100px;
}

.heading{
    font-size: 64px ;
    color: white;
    font-weight: 700;
}
.watch{
    background-color: 
    #E02C6D;
    width: 168px;
    height: 44px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    
}
.watchicon{
    /* margin: 10px 24px 10 24px; */
    margin-left: 25px;
}
.watchnow{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    
}

.fa-long-arrow-alt-right{
    width: 24px;
    height: 24px;
    color: white;
    margin-left: 6px;
    
             
}
.fa-long-arrow-alt-right{
    
}

/* banner */
.banner img{
    width: 556.01px;
    height: 438px;
}

/* @keyframes change2{
    from{
        
        right: -0px ;
    }
    to{
        
        left: -580px ;
        
    }
} */
.banner{
    position: relative;
    transition: transform 1.5s ease-out;

    
    
}
.sec1display:hover .banner{
    transform: translate(-580px, -100px);

    /* animation: change2 1.5s ease-in .3s 1 alternate ;
    animation-play-state: running; */
    
}
/* player section  */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-row-gap: 30px;
}

.shadowbox{
    background: #FFFFFF;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
width: 330px;
height: 600px;
}
.player{

}
.player img{
    width: 300px;
    height: 256px;
}

.player-name h2{
    font-style: normal;
font-weight: bold;
font-size: 28px;
}
.player-text p{ 
    font-size: 20px;
}
.player-details{ 
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
}

/* logopart */
.logo-container{
    /* position: absolute; */
    /* display: flex; */
    /* bottom: -4000px; */

    width: 483.87px;
    height: 213px;

}



.football-image1 img{
    width: 262.1px;
    height: 110px;
}

/* icons */
.ico img{
    Width :32px;
    Height :32px;
    padding-left:  18px;
    margin-left: 7px;
}

.copyright p{
    font-size: 18px;
}

/* bonus part  */



.album-container{
    display: flex;
    justify-content: center;
}

.photo-album {
    /* display: flex;
    flex-wrap: wrap; */

    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-row-gap: 30px;

}

.photo-frame {
    width: 300px;
    height: 300px;

    border: 3px solid lightslategrey;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: 2.5px;




}

.photo-frame:hover .photo-details {

    display: block;
    color: lightslategrey;
    background-color: rgba(32, 178, 171, 0.2);
}

.photo-frame img {
    width: 300px;
    
    border-radius: 7px;
}

.photo-details {
    position: absolute;
    width: 300px;
    top: 0;
    display: none;


}

.photo-details h2 {
    color: lightblue;
    background-color: rgb(131, 128, 128);
    text-align: center;
}

.photo-frame:hover .photo {
    transform: scale(1.5) rotate(30deg);

    transition: transform 1s;
}

/* Responsive part  */

